name: Scheduled Test Report

on:
  schedule:
  - cron: '0 3 * * 1,2' # Every Monday and Tuesday at 12:00 JST
  workflow_dispatch: # Manually triggered via GitHub UI
permissions:
  contents: write
  id-token: write
jobs:
  test-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    - name: Install Playwright dependencies
      run: |
        sudo ./mvnw --no-transfer-progress exec:java -e -D exec.mainClass=com.microsoft.playwright.CLI -D exec.args="install-deps"

    - name: Run Maven package
      run: |
        current_date=$(TZ=Asia/Tokyo date '+%Y-%m-%d')
        ./mvnw --no-transfer-progress clean package -DskipTests

    - name: Import Secrets
      id: import-secrets
      uses: hashicorp/vault-action@v3.3.0
      with:
        exportToken: true
        exportEnv: true
        method: jwt
        url: ${{ secrets.VAULT_ADDR }}
        role: cicd
        secrets: |
          kv/data/cicd/spring_batch_metadata SPRING_DATASOURCE_URL;
          kv/data/cicd/spring_batch_metadata SPRING_DATASOURCE_USERNAME;
          kv/data/cicd/spring_batch_metadata SPRING_DATASOURCE_PASSWORD;

    - name: Run the scraper
      run: |
        export TZ=Asia/Tokyo
        java -Duser.timezone=Asia/Tokyo -Duser.country=JP -Duser.language=ja -Dfile.encoding=UTF-8 -jar target/jra-leading-sire-0.0.1-SNAPSHOT.jar --spring.datasource.driver-class-name=org.postgresql.Driver

    - name: Create report directory
      run: |
        mkdir -p report
        mkdir -p report_2sai

    #- name: Move JSON report to report directory
    #  run: |
    #    for f in *_2sai.json; do mv "$f" "report_2sai/${f%_2sai.json}.json"; done
    #    mv *.json report/

    - name: Configure Git user
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"

    - name: Commit and push report
      run: |
        git checkout main
        git pull origin main
        git add report/*
        # git add report_2sai/*
        git commit -m "Add report for $(TZ=Asia/Tokyo date '+%Y-%m-%d')" --allow-empty
        git push origin main
